<div class="page">
  <div class="row nav">
    <div class="col">
      <h4> 📊 <strong>Portfolio Tracker</strong></h4>
    </div>

    <div class="col home-page-actions">
      <%= link_to portfolio_path do %>
        <h5><strong>Blog</strong></h5>
      <% end %>
    </div>

    <div class="col home-page-actions">
      <%= link_to portfolio_path do %>
        <h5><strong>Portfolio</strong></h5>
      <% end %>
    </div>

    <div class="col home-page-actions">
      <%= link_to login_path do %>
        <h5><strong>Login</strong></h5>
      <% end %>
    </div>
  </div>

  <div class="row banner">
    <div class="col" style="padding: 20px;">
      <h1>Investing simplified</h1>
      <p>All your portfolios in one place</p>
    </div>
  </div>

  <div class="row search-bar">
    <div class="col">
      search bar will go here
    </div>
  </div>
  <div class="row centered-div">
    <div class="card-category cards col">
      <%= link_to crypto_path do %>
        <h5>C R Y P T O</h5>
      <% end %>
    </div>

    <div class="card-category cards col">
      <%= link_to forex_path do %>
        <h5>F O R E X</h5>
      <% end %>
    </div>

    <div class="card-category cards col">
      <%= link_to stocks_path do %>
        <h5>S T O C K S</h5>
      <% end %>
    </div>
  </div>
</div>
