<div class="page">
  <div class="row nav">
    <div class="col">
      <h4> 📊 <strong>Portfolio Tracker</strong></h4>
    </div>

    <div class="col home-page-actions">
      <%= link_to portfolio_path do %>
        <h5><strong>Portfolio</strong></h5>
      <% end %>
    </div>

    <div class="col home-page-actions">
      <%= link_to login_path do %>
        <h5><strong>Login</strong></h5>
      <% end %>
    </div>
  </div>

  <div class="row banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/04/c0/33/04c033d300ef346fe774a9ff1719aa57.gif);">
    <div class="col" style="padding: 40px;">
      <h1>All your <strong>investments</strong> in <strong>one</strong> place!</h1>
      <p>Crypto, stocks, forex, etc. We got it all 😉</p>
    </div>
  </div>
  <div class="row">
    <div class="card-category cards col" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/564x/b9/40/81/b940812137d9efd4e783db080ea2f734.jpg)">
      <%= link_to crypto_path do %>
        <h3>C R Y P T O</h3>
      <% end %>
    </div>

    <div class="card-category cards col" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/564x/31/6b/ce/316bce20dcc030bb613c9e117199dea1.jpg)">
      <%= link_to forex_path do %>
        <h3>F O R E X</h3>
      <% end %>
    </div>

    <div class="card-category cards col" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/564x/fd/0c/93/fd0c9376e8c15097b446b32177a32cfb.jpg)">
      <%= link_to stocks_path do %>
        <h3>S T O C K S</h3>
      <% end %>
    </div>
  </div>
</div>
